/* #FDF0D5  light beige - main text color */
/* #FDF0D5 green-yellow - link hovering color */


@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Clicker+Script');



/* main elements settings */    
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
    background: #663d1c;
    color: #FDF0D5;
}

.czech {
    background: #384057;
}

.iran {
    background: #655648;
}

.nigeria {
    background: #272525;
}

.turkey {
    background: #7d665b;
}


a {
    text-decoration:none;
    color: #FDF0D5;
}

a:hover {
    color: #bef738;
}

p {
    font-family: 'Josefin Sans', sans-serif;
    margin: 2%
}

img{
    margin: 2%;
}

/* page banners (top) settings*/
.full-img {
    width: 100%;
}

.banner {
    height: 650px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    position: relative;
}

.banner:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(
    rgba(0, 0, 0, 0.5), 
    rgba(0, 0, 0, 0.5));    
} 

.banner h1{
    font-family: 'Clicker Script';
    font-size: 100px; 
    text-align: center;
    position: relative;
    z-index: 1;
}
/* banners for pages : defferent images for different pages*/
.index-banner {
    background-image: url('../images/home-page-banner-image.jpg');
    background-position: center;
}

/* Pixaby photo */
.iran-banner {
    background-image: url('../images/iran.jpg');
    background-position: center;
}

/* Pixaby photo */
.czech-banner {
    background-image: url('../images/czech.jpg');
    background-position: top;
}

/* Pixaby photo */
.turkey-banner{
    background-image: url('../images/turkey.jpg');
    background-position: center;
}

/* Pixaby photo */
.nigeria-banner {
    background-image: url("../images/nigeria.jpg");
    background-position: center;
}

/* navigation bar settings*/
nav {
    border-top: 2px solid #FDF0D5;
}

nav li:first-child {
    border-left: none
}

nav ul {
    display: flex;
    list-style: none;
    font-size: 1.3rem;
}

nav li {
    padding: 10px;
    text-align: left;
}

nav a:hover{
    color: #bef738;
}


nav a{
    text-decoration: none;
    color: #FDF0D5;
    padding: 3px;
    transition: .25s;
}

/* novels images and links settings from the home page*/
.row {
    display: flex;
}

.col-2 {
    width: 50%;
    /*background: lightgrey;*/
    padding: 10px;
    text-align: center;
    height: 50%;
}

.col-2 img {
    width: 65%;
    height: 500px;
    border: 2px solid #FDF0D5;
}


.main-content-header {
    text-align: center;
    font-size: 3rem;
    margin: 2rem 0;
    padding-top: 2%;
    font-family: 'Clicker Script';
}


/* footer for all pages*/ 
footer p { 
    text-align: center;
    font-size: 1rem;
    color: #FDF0D5;
}
footer {
    align-items: center;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: .4rem;
    border-top: 2px solid #FDF0D5;
}
